<nav role="navigation">
  <ul>
    <li><a href="{{ site.url }}/" {% if page.url == "/" %}class="active"{% endif %}>Home</a></li>
    <li><a href="{{ site.url }}/track1" {% if page.url == "/track1" %}class="active"{% endif %}>Track-1</a></li>
    <li><a href="{{ site.url }}/track2" {% if page.url == "/track2" %}class="active"{% endif %}>Track-2</a></li>
    <li><a href="{{ site.url }}/leaderboard" {% if page.url == "/leaderboard" %}class="active"{% endif %}>Leaderboard</a></li>
    <li><a href="{{ site.url }}/faq" {% if page.url == "/faq" %}class="active"{% endif %}>FAQ</a></li>
    <li><a href="{{ site.url }}/register" {% if page.url == "/register" %}class="active"{% endif %}>Register</a></li>
  </ul>
</nav>